 body
 {
 	background-image: url('../cielo-cielo-de-fondo_19-133422.jpg') no-repeat fixed center center;
 	background-size: cover;
 }.container{
	width: 1000px;
	margin: auto;
}
header img{
	float: left; 
	width: 100%;

}
nav ul{
	width: 100%;
	margin: auto;

}
nav ul li {
	display: inline-block;
	background: #ccccff;
	padding: 6px 3px;
	width: 150px;
	text-align: center;
}
a{
	text-decoration: none;
	color:#000000;
}
nav ul li:hover{
		background: #6699ff;
}


aside{
	float:left;
	width: 20%;
}
section{
	float: right;
	width: 100%;
}

.login{
	float: right;
	width: 80%;

}
section#login2{
	width:100%;
	float: left;
	margin: auto;
}
.tabla{
	float: right;
	width: 80%;
	
} 

.boton2{
		text-align: center;
	}

fieldset{
	width: 100%;
	background: #ccccff;
	margin: 50px auto;
	text-align: center;
	font-family: times;

}
article{
	width: 50%;
	background: #ccccff;
	margin: 80px auto;
	text-align: center;
	font-family: times;

}
.formulary{
	width: 100%;
	background: #ccccff;
	margin: 50px auto;
	text-align: center;
	font-family: times;
}
legend{
	background: #99CCFF;
	padding: 2px 4px;
	border-radius: 5px 
}
label{
	float: left;
	width: 100px;
	text-align: center;
}



.morado{
	background: #ccccff;
	text-align: center;

}

div#menu_vertical{
	width: 50px;
	margin-top: 50px;
	
}

div#menu_vertical ul{
	list-style: none;

 
 }

div#menu_vertical ul li{
	margin-top: 15px;
	font-family: Times;
	font-size: 15px;
	background: #ccccff;
	width:160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #ccccff;
	color:black;
	text-align: center;
 
 }
 div#menu_vertical ul li:hover{
 	padding left:50px;
 	background: #6699ff; 
}
footer{
	margin-left: auto;
	clear: both;
	background: #ccccff;
	text-align: center;
}
table{
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	border: 2px black solid;
	text-align: center;
}

table, td, th{
	border: 2px solid black;
}